# NFS exports that can be reused by different jekyll projects (e.g., ruby gem
# bundels, jekyll cache, etc.)
/srv/exports/jekyll-bundles {{ node_network }}(rw,all_squash,anonuid=1000,anongid=1000)

# NFS exports that cannot be reused by different jekyll projects (e.g., project
# repositories and rendered sites).
/srv/exports/jekyll-repos/{{ project_name }} {{ node_network }}(rw,all_squash,anonuid=1000,anongid=1000)
/srv/exports/jekyll-sites/{{ project_name }} {{ node_network }}(rw,all_squash,anonuid=1000,anongid=1000)
