{{ ansible_managed | comment }}

interface={{ controlplane_kubernetes_cni_iface }}

# Enable a network mode which is a hybrid between --bind-interfaces and the
# default. Dnsmasq binds the address of individual interfaces, allowing
# multiple dnsmasq instances, but if new interfaces or addresses appear, it
# automatically listens on those (subject to any access-control configuration).
# This makes dynamically created interfaces work in the same way as the
# default. Implementing this option requires non-standard networking APIs and
# it is only available under Linux. On other platforms it falls-back to
# --bind-interfaces mode.
bind-dynamic
