{{ ansible_managed | comment }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# -------------------------------------------------------------------------------
# Kubernetes cluster - Load balancer (MetalLB)
# -------------------------------------------------------------------------------
{% for address in controlplane_kubernetes_lb_addresses %}
{{ address | ansible.utils.ipaddr('address') }} {{ controlplane_kubernetes_cluster_name }}
{% endfor %}

# -------------------------------------------------------------------------------
# Kubernetes cluster - Controlplane
# -------------------------------------------------------------------------------
{{ ansible_facts[controlplane_kubernetes_cni_iface]['ipv4']['address'] }} {{ ansible_facts["nodename"] }} {{ ansible_facts["nodename"] }}.{{ controlplane_kubernetes_cluster_name }}
